.robotoMono {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}

.roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body {
    background-color: #1C2121;
    font-family: 'Roboto', monospace;
    font-weight: 300;
    padding-top: 1em;}

#sections,
.title {
    color: white;
    font-size: 1em;
    position: relative;
    display: inline-block;
    width: 450px;
    top: 0px;
    z-index: 90;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Roboto';
    overflow: hidden;
    position: relative;
    font-weight: 300;
}

h1 {
    font-family: 'Roboto', monospace;
    font-weight: 300;
    padding-top: 1em;
}

h2 {
    font-family: 'Roboto', monospace;
    font-weight: 300;
    padding-top: 1em;
}
h3 {
    font-family: 'Roboto', monospace;
    font-weight: 300;
    padding-top: 1em;
}
h4 {
    font-family: 'Roboto', monospace;
    font-weight: 400;
    padding-top: 1em;
}

.step {
    margin-bottom: 200px;
    font-size: 100%;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    /* Initially hide all sections */
    transition: opacity 1s ease-in-out;
}

.step.active {
    opacity: 1;
    /* Show the active section */
}

.first {
    margin-bottom: 200px;
}

.header {
    font-size: 1em;
    margin-bottom: 1em;
}

.space {
    margin-bottom: 400px;
}

#vis {
    display: inline-block;
    position: fixed;
    top: 0px;
    z-index: 1;
    margin-left: 0;
    height: 600px;
    width: 600px;
    background-color: none;
}

.faded {
    color: white;
    font-weight: 300;
}

.strong {
    opacity: 1;
    color: white;
    font-weight: 300;
}

.authors {
    font-size: 100%;
    font-family: 'Roboto';
    color: white;
    
}

.date {
    opacity: 0.4;
}

.intro {
    font-size: 1em;
    font-weight: 300;
    color: white;
}


/*
#extra-space {
    height: 300px;
}
*/

.year-2013 {
    color: #4e79a7;
}

.year-2014 {
    color: #f28a2b;
}

.year-2015 {
    color: #e15759;
}

.year-2016 {
    color: #76b7b2;
}

.year-2017 {
    color: #59a14f;
}

.year-2018 {
    color: #edc948;
}

.year-2019 {
    color: #b07aa1;
}

.year-2020 {
    color: #ff9da7;
}

.year-2021 {
    color: #9c755f;
}

.year-2022 {
    color: #bab0ac;
}

.year-2023 {
    color: #4e79a7;
}

.year-2024 {
    color: #f28a2b;
}